{% extends "client/index.html" %}
{% block style %}
    <style type="text/css">
        .box_rec {
            width: 320px;
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
        }
    </style>
{% endblock style %}
{% block content %}
    <div class="container">
        <h3>Recomendações</h3>
        {% for id,rating,name,description,long_position,lat_position,photo in recomendations %}
            <div class="thumbnail box_rec">
                <img src="http://localhost:8000/media/{{ photo }}" alt="ALT NAME">

                <div class="caption">
                    <h3>{{ name }}</h3>
                    <h5>{{ rating|floatformat:2 }}/10,00</h5>

                    <!-- Large button group -->
                    <div class="btn-group">
                        <button class="btn  btn-primary btn-large dropdown-toggle" type="button" data-toggle="dropdown">
                            Check-in <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#"  class="rate_target" rating="5" item_id="{{ id }}" user_id="{{ user.id }}" context_id="{{context.context_id}}">Excelente</a></li>
                            <li><a href="#"  class="rate_target" rating="4" item_id="{{ id }}" user_id="{{ user.id }}" context_id="{{context.context_id}}">Muito Bom</a></li>
                            <li><a href="#"  class="rate_target" rating="3" item_id="{{ id }}" user_id="{{ user.id }}" context_id="{{context.context_id}}">Razoávek</a></li>
                            <li><a href="#"  class="rate_target" rating="2" item_id="{{ id }}" user_id="{{ user.id }}" context_id="{{context.context_id}}">Ruim</a></li>
                            <li><a href="#"  class="rate_target" rating="1" item_id="{{ id }}" user_id="{{ user.id }}" context_id="{{context.context_id}}">Horrível</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        {% endfor %}
        <form class="navbar-form form-inline pull-right" id="target" name="RatingForm" action="/rate/" method="POST">
            {% csrf_token %}
            <input  id="item_id" name="item_id" type='hidden' value=" " >
            <input id="user_id" name="user_id" type='hidden' value=" " >
            <input  id="context_id" name="context_id"  type='hidden' value=" " >
            <input  id="rate_value" name="value"  type='hidden' value=" " >
            <input type="submit" style=" display:none;"/>
        </form>
    </div>
{% endblock %}
{% block js_footer %}
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $(".rate_target").click(function() {
                 var item_id = $(this).attr("item_id");
                 var context_id = $(this).attr("context_id");
                 var user_id = $(this).attr("user_id");
                 var rating = $(this).attr("rating");
                 document.getElementById('item_id').value = item_id;
                 document.getElementById('context_id').value = context_id;
                 document.getElementById('user_id').value = user_id;
                 document.getElementById('rate_value').value = rating;
                 $('#target').submit();
            });
        });
    </script>
{% endblock %}