<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% block css %}
        {% load static %}
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block style %}

    {% endblock style %}
</head>
<body>
    <div id="navi">{% block navi %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js_footer %}{% endblock %}

</body>
</html>